.relative {
    position: relative;
  }
.btn-sm img {
    width: 16px;
    height: 16px;
  }
  
  .button-wrap.d-flex {
    gap: 12px;
  }
  .btn-gradient_red {
    background: linear-gradient(to bottom, #cd0700 0%,#cd0700 50%,#e40a00 51%,#ce0800 100%);
  }

.btn-boxshadow{
    border: none;
    /* padding: 10px; */
    box-shadow: 1px 1px 2px 2px  #d3cfcf;
  }
  .btn-icon {
    font-size: 0;
    width: 50px;
    height: 50px;
    padding: 10px;
  }
  
  .btn-icon + .btn-icon {
    margin-left: 10px;
  }
  
  .btn-icon__image {
    width: 100%;
    height: 100%;
    max-height: 28px;
    max-width: 28px;
  }
  @media (max-width: 309px) and (min-width: 300px) {
    .btn-icon {
      font-size: 0;
      width: 44px;
      height: 44px;
      padding: 10px;
    }
    .btn-icon + .btn-icon {
      margin-left: 5px;
    }
    
  }
  
  @media (max-width: 339px) and (min-width: 310px) {
    .btn-icon {
      font-size: 0;
      width: 44px;
      height: 44px;
      padding: 10px;
    }
  
    .btn-icon__image {
      width: 100%;
      height: 100%;
      max-height: 24px;
      max-width: 24px;
    }
  }


/* table */

.table-wrapper {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .table {
    margin-bottom: 0;
  }
  
  .table-custom {
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: -1px 1px 0 #dee2e6, -1px -1px 0 #dee2e6, 1px -1px 0 #dee2e6, 1px 1px 0 #dee2e6;
    border-radius: 10px;
  }
  .table-custom tbody td {
    background-color: #f7f7f7;
  }
  .table-custom tbody tr:nth-child(even) td {
    background-color: #fff;
  }
  .table-custom th {
    border: none;
  }
  .table-custom thead th:first-child {
    border-radius: 10px 0 0 0;
  }
  .table-custom thead th:last-child {
    border-radius: 0 10px 0 0;
  }
  .table-custom tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
  }
  .table-custom tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
  }
  .table-custom td {
    border: none;
    border-top: 1px solid #dee2e6;
    color: #000;
  }
  .table-custom td,
  .table-custom th {
    padding: 6px 16px;
  }
  .table-custom th:not(:last-child),
  .table-custom td:not(:last-child) {
    border-right: 1px solid #dee2e6;
  }
  
  /* .table-custom_th-horizontal th {
    font-weight: 400;
  }
  .table-custom_th-horizontal td {
    font-weight: 700;
  } */
  .table-custom_th-horizontal tr:first-child td,
  .table-custom_th-horizontal tr:first-child th  {
    border-top: none;
  }
  .table-custom_th-horizontal tr:first-child th {
    border-radius: 10px 0 0 0;
  }
  .table-custom_th-horizontal tr:first-child td:last-child {
    border-radius: 0 10px 0 0;
  }
  .table-custom_th-horizontal tr:last-child th {
    border-radius: 0 0 0 10px;
  }
  .table-custom_th-horizontal td,
  .table-custom_th-horizontal th  {
    border-top: 1px solid #dee2e6;
  }
  
  @media (max-width: 540px) {
    .table-custom {
      overflow: hidden;
    }
  
    .table_responsive tr {
      background-color: #f7f7f7;
    }
  
    .table-custom tbody tr:nth-child(2n) {
      background-color: #fff;
    }
  }
  
  /* table customs ends */
  
  .table_outer-border {
    border: 1px solid #dee2e6;
  }
  
  /* heading-with-btn.html */
  /* table with button on side */
  .heading-with-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 44px 16px 0;
  }
  
  .heading-with-btn .title {
    margin-bottom: 0;
  }
  
  .table_floating-action {
    width: calc(100% - 44px);
  }
  
  @media (max-width: 540px) {
    .heading-with-btn,
    .table_floating-action {
      width: 100%;
    }
  }
  
  .floated-btn-wrap .btn-in-table {
    display: flex;
    padding: 7px;
    position: absolute;
    right: -44px;
    top: 2px;
  }
  
  .floated-btn-wrap .btn-in-table img {
    width: 16px;
    height: 16px;
  }
  
  /* table responsive starts */
  
  .table_responsive thead th {
    color: #000;
    font-weight: 500;
    text-align: center;
  }
  
  .table_responsive thead th:nth-child(odd) {
    background-color: #F6F8FC;
  }
  
  .table_responsive thead th:nth-child(even) {
    background-color: #F6F8FC;
  }
  
  .table_responsive.table_responsive tbody {
    border-top: none; 
  }
  
  /* .table_responsive thead th,
  .table_responsive tbody td {
    padding: 6px 16px;
  } */
  
  @media (max-width: 540px) {
      .table_responsive,
      .table_responsive thead,
      .table_responsive tbody,
      .table_responsive th,
      .table_responsive td,
      .table_responsive tr {
          display: block;
      }
  
      .table_responsive thead tr {
          position: absolute;
          top: -9999px;
          left: -9999px;
      }
  
      .table_responsive tr {
      padding: 6px 0;
      border-bottom: none;
      }
  
    .table_responsive tr:not(:last-child) {
      border-bottom: 1px solid #dee2e6;
    }
  
    .table_responsive th:not(:last-child),
    .table_responsive td:not(:last-child) {
      border-right: none;
    }
  
      .table_responsive tbody td {
          border: none;
          position: relative;
      padding-top: 4px;
      padding-bottom: 4px;
          padding-left: 116px;
      /* adjust this value according to the length of the longest th */
      }
  
      .table_responsive td:before {
      font-weight: 700;
          position: absolute;
          top: 4px;
          left: 16px;
      /* adjust this value according to the length of the longest th */
          width: 100px;
          padding-right: 10px;
          white-space: nowrap;
      }
  
    .table_responsive .summary-row td:before {
      content: "";
      padding: 0;
    }
  
    .floated-btn-wrap {
      display: flex;
      align-items: center;
      margin-top: 10px;
    }
    
    .floated-btn-wrap::before {
      content: "Actions:";
      font-weight: 700;
      padding-right: 10px;
      position: absolute;
      left: 16px;
    }
    
    .floated-btn-wrap .btn-in-table {
      position: static;
    }
  }
  
  
  /* how to add the labels on mobile view?
  
  Add a custom class to the table and just copy past this code replacing the firstt class, ex: .table_sku and add the names you want in the content property
  */
  
  /* Values table */
  @media (max-width: 540px) {
      .table_product td:nth-of-type(1):before {
          content: "SKU:";
      }
      .table_product td:nth-of-type(2):before {
          content: "Name:";
      }
      .table_product td:nth-of-type(3):before {
          content: "Description:";
      }
      .table_product td:nth-of-type(4):before {
        content: "Qty:";
    }
    .table_product td:nth-of-type(5):before {
        content: "Price:";
    }
    .table_product td:nth-of-type(6):before {
        content: "Tax:";
    }.table_product td:nth-of-type(7):before {
        content: "Total:";
    }
        
  }
  /* @media (max-width: 540px) {
    .table_rate td:nth-of-type(1):before {
        content: "Subtotal:";
    }
    .table_rate td:nth-of-type(2):before {
        content: "Total 20%:";
    }
    .table_rate td:nth-of-type(3):before {
        content: "TOTAL:";
    }
} */
